@*@model Koi.WebApplication.Models.SanPhamModel*@

@{
    ViewBag.Title = "Trang chủ";
    <link rel="stylesheet" href="~/css/styleindex.css" />
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<h1>@ViewData["Title"]</h1>

<div>
    <h3>@Model.TenSanPham</h3>
    <p><strong>Kích Thước:</strong> @Model.KichThuoc</p>
    <p><strong>Giá:</strong> @Model.Gia</p>
    <p><strong>Giới Tính:</strong> @Model.GioiTinh</p>
    <p><strong>Nguồn Gốc:</strong> @Model.NguonGoc</p>
    <p><strong>Giống:</strong> @Model.Giong</p>

    <a href="@Url.Action("Index", "SanPham")" class="btn btn-primary">Trở lại danh sách</a>
</div>